.button {
  padding: 10px 18px;
  border-radius: 8px;
  transform: none;
  box-shadow: none;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
  }

  & + .button {
    margin-left: 30px;
  }

  &__mr-2 {
    margin-right: 2rem;
  }

  &__ml-auto {
    margin-left: auto;
  }

  &__mb-36 {
    margin-bottom: 36px;
  }

  &_small {
    max-width: 183px;
    height: 43px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &_big {
    max-width: 370px;
    height: 48px;
  }

  &_radius-3 {
    border-radius: 3px;
  }

  &_yellow {
    border-color: $white-default;
    background-color: $blue-two;
    color: $white-default;

    &:hover {
      border-color: $black-default;
      background-color: $white-default;
    }
  }

  &_gray {
    background-color: $gray-three;
    color: $black-default;

    &:hover {
      background-color: $yellow-default;
    }
  }
}
