.button {
  padding: 10px 18px;
  border-radius: 8px;
  transform: none;
  box-shadow: none;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
  }

  & + .button {
    margin-left: 30px;
  }

  &__mr-2 {
    margin-right: 2rem;
  }

  &__ml-auto {
    margin-left: auto;
  }

  &__mb-36 {
    margin-bottom: 36px;
  }

  &_small {
    max-width: 183px;
    height: 43px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &_big {
    max-width: 370px;
    height: 48px;
  }

  &_radius-3 {
    border-radius: 3px;
  }

  &_yellow {
    background-color: $yellow-default;
    color: $black-default;

    &:hover {
      background-color: $gray-three;
    }
  }

  &_gray {
    background-color: $gray-three;
    color: $black-default;

    &:hover {
      background-color: $yellow-default;
    }
  }

  &__cross {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    margin-left: auto;
    padding: 0;
    cursor: pointer;
    transform: scale(1);
    transition: 0.2s ease;

    &:hover {
      transform: scale(1.2);

      &::before, &::after {
        background-color: $red-default;
      }
    }

    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      height: 100%;
      min-height: max-content;
      max-height: max-content;
      margin: auto;
      border-radius: 10px;
      background-color: $black-default;
      transition: 0.2s ease;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
