.footer {
  width: 100%;
  height: 80px;
  padding-top: 30px;
  padding-bottom: 30px;

  &__copyright {
    .row > * {
      &:not(:first-child) {
        padding-left: calc(3rem * .396);
      }

      &:not(:last-child) {
        padding-right: calc(3rem * .396);
      }
    }

    span {
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      color: $gray-four;

      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
        fill: $blue-two;
      }

      a {
        font-size: 13px;
        color: $gray-four;

        svg {

        }
      }
    }

    &_text {
      &_right {
        @media screen and (min-width: $small_smart) {
          text-align: right;
        }
      }
    }

    &_pr-35 {
      @media screen and (min-width: 428px) {
        padding-right: 35px;
      }
    }
  }

  &__logos {
    a {
      svg {
        fill: $gray-four;

        &.vk_logo {
          width: 24px;
          height: 14px;
        }

        &.telegram_logo {
          width: 21px;
          height: 17.54px;
        }

        &.dzen_logo {
          width: 20px;
          height: 20px;
        }

        &.odnoklassniki_logo {
          width: 12px;
          height: 22px;
        }

        &.youtube_logo {
          width: 21px;
          height: 14.9px;
        }
      }
    }
  }
}


