.separator {
  &_h-18 {
    height: 18px;
  }

  &_gray {
    &::before {
      background-color: $gray-four;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
  }
}
