.tabs {
  &__nav {
    display: flex;
    padding-bottom: 20px;

    .button {
      &:hover {
        transform: none;
        box-shadow: none;
      }

      & + .button {
        margin-left: 5.37px;
      }
    }
  }

  &__btn {
    &:not(.tabs__btn_active):hover,
    &:not(.tabs__btn_active):focus {
      background-color: $gray-three;
    }

    &_active {
      background-color: $gray-three;
      cursor: default;
    }
  }

  &__pane {
    display: none;

    &_show {
      display: block;
    }
  }
}
