.title {
  color: $black-default;
  line-height: 150%;
  display: flex;
  align-items: center;

  &_h2 {
    padding-bottom: 30px;
    font-size: 36px;
  }

  &_h3 {
    font-size: 18px;
  }

  &_h4 {
    font-size: 20px;
  }

  &_h5 {
    font-size: 14px;
  }

  &_h6 {
    font-size: 14px;
  }

  &_white {
    color: $white-default;
  }

  &__grey {

    &_one {
      color: $gray-one;
    }

    &_two {
      color: $gray-two;
    }

    &_three {
      color: $gray-three;
    }

  }

  &_center {

    text-align: center;
    justify-content: center;

  }

  &_right {

    text-align: right;
    justify-content: flex-end;

  }

  &_left {

    text-align: left;
    justify-content: flex-start;

  }

  &_end {

    text-align: right;
    justify-content: flex-end;

  }

  &_uppercase {
    text-transform: uppercase;
  }

}

.text {
  &_white {
    color: $white-default;
  }

  &_blue {
    color: $blue-one;
  }

  &_gray {
    color: $gray-four;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_big {
    font-size: 20px;
  }
}



