.readMore {
  &__hidden-text {
    @include shortenText(2, 50);
    transition: 0.2s ease;
  }

  &__button-read-more {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: $gray-four;
    transition: 0.2s ease;

    &:hover {
      color: $blue-three;

      svg {
        path {
          fill: $blue-three;
        }
      }
    }

    svg {
      width: 8px;
      height: 14px;
      margin-left: 8px;
      transform: rotate(-90deg);
      vertical-align: middle;
      transition: transform 0.3s ease;

      path {
        transition: 0.2s ease;
      }
    }
  }

  &.show {
    .readMore__hidden-text {
      display: block;
    }

    .readMore__button-read-more {
      color: $blue-three;

      svg {
        transform: rotate(90deg);

        path {
          fill: $blue-three;
        }
      }
    }
  }

  &.fade {
    .readMore__button-read-more {
      color: $gray-four;

      svg {
        transform: rotate(-90deg);

        path {
          fill: $gray-four;
        }
      }
    }
  }
}
