// White
$white-default: #fff; // section journal bg
//$white-one: #FBFBFB;
//$white-two: #FBFBFB;
//$white-three: #F8F8F8;

// Black
$black-default: #3D3D3D; // text
$black-one: #000;
//$black-two: #6F6D7B;
//$black-three: #2A2B30;
//$black-four: #3D4050;
//$black-five: #272733;

// Gray
$gray-default: #B8BDC2; // input label
$gray-one: #898E93; // text
$gray-two: #E0E4E9; // input border
$gray-three: #F1F4F7; // section journal border block, bg button
$gray-four: #A5A9AD; // BASE-06 section news small text
$gray-five: #CFD4D9; // BASE-04
$gray-six: #e6e9ec;
//$gray-seven: #dee2e6;
//$gray-eight: #BBBBBB;
//$gray-nine: #C3C3C3;

// Yellow
$yellow-default: #FEDD2E; // button
$yellow-one: #F1D22A; // button hover
$yellow-two: #E0C11C; // button active
$yellow-three: #FBF4DA; // card background
$yellow-four: #FDDE42; // Тинькофф

// Blue
$blue-default: #F1F4F7; // BASE - 02 body background
$blue-one: #F6F7FB; // card background
$blue-two: #E9EFF5; // card background
$blue-three: #336FEE; // BASE/accent section Лучшие предложения text
$blue-four: #275ED2; // наверное hover для ссылки отзывы
$blue-five: #2150B4; // наверное active для ссылки отзывы
$blue-six: #0077ff; // Цвет Вконтакте
$blue-seven: #28a8e9; // Цвет Телеграм
$blue-eight: #266DC2; // Цвет Газпромбанк

// Green
$green-default: #34B41F; // text

// Red
$red-default: #E03C25; // text
$red-one: #ff0200; // Цвет Youtube
$red-two: #EF3124; // Цвет Альфа-Банк

// Orange
$orange-one: #ff7800;

// White-rgba
//$white-rgba-one: rgba(255, 255, 255, .3);
//$white-rgba-two: rgba(255, 255, 255, .6);
//$white-rgba-three: rgba(255, 255, 255, .7);

// Gray-rgba
//$gray-rgba-one: rgba(204, 214, 228, .6);

// Black-rgba
//$black-rgba-one: rgba(16, 16, 29, 0.9);
//$black-rgba-two: rgba(0, 0, 0, .25);
//$black-rgba-three: rgba(0, 0, 0, .08);
//$black-rgba-four: rgba(40, 40, 40, 0.5);
//$black-rgba-five: rgba(0, 0, 0, 0.4);
//$black-rgba-six: rgba(0, 0, 0, .24);
//$black-rgba-seven: rgba(0, 0, 0, .12);
//$black-rgba-eight: rgba(0, 0, 0, .6);
//$black-rgba-: rgba(0, 0, 0, .4);

// Blue-rgba
//$blue-rgba-one: rgba(54, 88, 172, 0.4);
//$blue-rgba-two: linear-gradient(79.06deg, $blue-two 17.67%, $blue-two 17.68%, $blue-three 143.49%);
//$blue-rgba-three: linear-gradient(82.33deg, #9E0CAA 0.26%, #242AFF 47.35%, #23FBE1 111.53%);
//$blue-rgba-four: linear-gradient(82.33deg, #9E0CAA 0.26%, #242AFF 47.35%, #23FBE1 111.53%), linear-gradient(44.66deg, #0634FD 1.68%, #00FCDE 48.63%, #EC34FE 93.57%);




