// Way img
$way-img: "../img/" !default;

// Way fonts
$font-path_one: "../fonts/Roboto/" !default;

// Variables
$bs-gutter-x: 3rem;

// Media
$desktop-width: 1024px;
$middle-tablet_width: 992px;
$tablet-width: 768px;
$middle_smart: 576px;
$small_smart: 480px;

// Cubic-Bezier
$cubicBezier-one: cubic-bezier(0.8, 0.16, 0.42, 0.89);


