.about-our-service {
  .col {
    &:not(:first-child) {
      padding-left: 10px;
    }

    &:not(:last-child) {
      padding-right: 10px;
    }
  }

  &__wrap {
    padding: 24px;
    border-radius: 12px;
    background-color: $gray-three;

    .text_huge {
      line-height: 38.4px;
    }
  }

  &__text {
    padding-top: 36px;

    p {

    }
  }
}
