.d-flex {
  display: flex !important;
}
.align-items {
  &-md-stretch {
    @media screen and (min-width: $tablet-width) {
      align-items: stretch !important;
    }
  }

  &-lg-center {
    @media screen and (min-width: $middle-tablet_width) {
      align-items: center !important;
    }
  }

  &-start {
    align-items: flex-start !important;
  }
}

.justify-content {
  &_center {
    justify-content: center;
  }

  &_space-between {
    justify-content: space-between;
  }
}

.ml_auto {
  margin-left: auto;
}

@mixin order-first($sequence-number: -1) {
  &.order-first {
    order: $sequence-number !important;
  }
}

@mixin order($sequence-number: 1) {
  &.order-#{$sequence-number} {
    order: $sequence-number !important;
  }
}

@mixin order-last($sequence-number: 6) {
  &.order-last {
    order: $sequence-number !important;
  }
}

@mixin block-links() {
  a {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 16px;
    line-height: 24px;
    background-color: $white-default;
    transition: 0.3s ease;

    &:hover {
      background-color: $gray-three;

      img {
        transform: translate(-7px, -7px) scale(1.3);
      }
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(0, 0) scale(1);
      transition: 0.3s ease;
    }
  }
}

@mixin shortenText($lineClamp: 2, $maxHeight: 47) {
  -webkit-line-clamp: $lineClamp;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: #{$maxHeight}px;
  min-height: max-content;
  word-break: break-word;
}
