header.header
  .container
    .row.row-cols-lg-2.justify-content_space-between.align-items-lg-center
      a.navbar-brand(href="#" title="" role="banner")
        span.text_white LOREMIPSUM.
          span.text_blue Net

      nav(role="navigation")
        ul
          li
            a.active(href="#" role="link") Бизнес
            a(href="#" role="link") О нас
            a(href="#" role="link") Цены
            a(href="#" role="link") Оформить заказ


