header.header
  .container
    .row.justify-content_space-between.align-items-lg-center
      a.navbar-brand(href="#" title="" role="banner")
        img(src=`${baseDir}assets/img/logo.svg` alt='')

      nav(role="navigation")
        ul
          li
            a(href="#" role="link") Журнал
          li
            a(href="#" role="link") Карты
          li
            a(href="#" role="link") Кредиты
          li
            a(href="#" role="link") Займы
          li
            a(href="#" role="link") Ипотека
          li
            a(href="#" role="link") Вклады
          li
            a(href="#" role="link") РКО
          li
            a(href="#" role="link") Банкротство
          li
            a(href="#" role="link") Задать вопрос
          li
            a(href="#" role="link") Еще
          li
            a(href="#" role="link")
              +svg('comparison')
          li
            a(href="#" role="link")
              +svg('magnifier')


