mixin article-button(pathImg, title, rating, numberReviews, button, classModifiers, ratingAndReviewPosition)
	article.article
		figure&attributes({'class' : classModifiers})
			.article__img
				img(src=`${baseDir}assets/img/${pathImg}` alt='')

			figcaption
				.article__text
					h5=title
					+ratingAndReviews(rating, numberReviews, ratingAndReviewPosition)

				if button
					.article__button
						button.button.button_gray(type='button' role='button') Задать вопрос

