mixin modal(id)
	.modal&attributes({ 'id' : id })(role='alertdialog')
		.modal__wrapper
			.modal__content
				.modal__content__header
					button.button__cross.modal__close

				.modal__content__body
					.modal__content__section
						h2 Наша главная цель — помочь вам
						p.text_middle.text_w-400.
							Мы стремимся помочь нашим пользователям принимать правильные и финансово-грамотные решения. Наши редакторы, эксперты и авторы придерживаются строгой редакционной политики для создания честного и точного материала. Советы, рекомендации и инструменты, созданные нашими сотрудниками, являются объективным, основанными на фактах и не подвержены влиянию наших рекламодателей.

					.modal__content__section
						h2 Как мы зарабатываем деньги
						p.text_middle.text_w-400.
							Бробанк является самостоятельным и независимым от банков сервисом подбора и сравнения финансовых услуг. Чтобы создавать для вас полезные материалы и инструменты, мы вынуждены размещать на сайте предложения от наших партнеров-рекламодателей, за которые можем получать компенсацию если вы нажмете на эти партнерские ссылки. Именно так мы зарабатываем деньги. Денежная компенсация может повлиять на рассматриваемые продукты, категории и рейтинги, которые мы составляем для вас. Это не влияет на те советы и рекомендации, которые мы вам даем в наших материалах. Наши сотрудники не общаются с рекламодателями и не получают от них деньги за продвижение партнерских продуктов.

				.modal__content__footer
					button.button.button_yellow.modal__close Понятно

		.modal__bg
