main.main(class=modifierClass role='main')
  section.main.main__first-screen(role='region')
    .container
      .main.main__block-title
        h1.text_uppercase
          span.text_blue Lorem ipsum&nbsp;
          | dolor sit
          br
          | amet consectetur
          br
          span.text_blue adipiscing

      .main.main__block-text.main__block-text_mb-80
        h4.title_h4 At vero eos et accusamus et iusto odio dignissimos ducimus!
        ul.text_big
          li Totam rem aperiam eaque ipsa
          li Sit voluptatem accusantium doloremque laudantium
          li Sed ut perspiciatis, unde omnis iste natus error

      .main.main__button-group
        button.button.button_small.button_blue(type='button' role='button') Заказать
        button.button.button_small.button_white(type='button' role='button') Подробнее

  section.main.main__two-screen(role='region')
    .container
      .main.main__block-title.main__block-title_center
        h2.text_uppercase.text_white Оформление&nbsp;&nbsp;
          span.text_blue Заказа

        h3.text_gray Перед заполнением формы ознакомьтесь с нашей схемой работы!

      .main.main__block-group
        .row.row-cols-lg-5.justify-content_center
          .main.main__col
            article(role='article')
              .main.main__col__icon












