.our-experts {
  .row {
    height: 100%;
  }

  .article {
    &:not(:first-child) {
      padding-left: 10px;
    }

    &:not(:last-child) {
      padding-right: 10px;
    }

    figure {
      height: 100%;
    }

    &__img {
      width: 72px;
      height: 72px;
      margin-right: auto;
      margin-bottom: 12px;
      margin-left: auto;
    }

    &__text {
      h3 {
        font-size: 16px;
        padding-bottom: 4px;
      }

      p {
        font-size: 13px;
        color: $gray-four;
      }

      h3 {
        font-weight: 400;
      }
    }
  }
}
